@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  /* max-width: 1600px; */
  background-color: white;
}

/* Hero Styles */
.hero {
  width: 1320px;
  height: 600px;
  background-image: linear-gradient(
      180deg,
      rgb(7, 2, 17),
      rgba(7, 2, 17, 0) 100%
    ),
    url("../images/Banner\ Image.png");
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 16px;
  margin-bottom: 120px;
}

.hero-content {
  font-family: Merriweather;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero-title {
  margin-top: 177px;
  font-size: 32px;
  font-weight: 400;
}

.hero-description {
  margin-top: 12px;
  font-size: 72px;
  font-weight: 900;
}

/* Discount Section Styles */

.discount {
  font-family: Inter;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 120px;
}

.discount-title {
  font-size: 88px;
  color: #ff0000;
  margin-bottom: 48px;
}

.discount-description {
  font-size: 24px;
  font-weight: 500;
  color: #ff0000;
  margin-bottom: 16px;
}

.discount-category {
  color: #070211;
  font-size: 48px;
  margin-bottom: 48px;
}

/* Welcome Section Styles */

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}

.welcome-party {
  width: 1320px;
  height: 600px;
  background-image: linear-gradient(
      90deg,
      rgb(7, 2, 17),
      rgba(7, 2, 17, 0) 100%
    ),
    url("../images/Vectorrr.png");
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-content {
  color: white;
}

.welcome-title {
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  margin-bottom: 24px;
}

.welcome-description {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400px;
  opacity: 0.8;
  margin-bottom: 48px;
}

.welcome-join {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  margin-left: 32px;
}

.welcome-img {
  margin-left: 40px;
}

/* Join Section Styles */

.join-container{
  width: 1320px;
  height: 482px;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
  font-family: Inter;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 120px;
}

.join-content{
  margin-bottom: 48px;
}

.join-description{
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
}

.btn-join{
  color: white;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  border: none;
  background-color: #ff0000;
  padding: 16px 32px;
  cursor: pointer;
}

.join-title{
  color: #ff0000;
}